:root {

    --pink:#f14e95;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5); 

}

body {
    font-size: 1.2rem;
    font-family: "Work Sans", sans-serif;
    min-height: 2000px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/bg-prewed.jpg) ; 
    background-size: cover;
    background-position: center;
    /* bg prewed */
    z-index: -1;
    filter: blur(2.5px);

}

.hero {
    position: relative;
    min-height: 100vh;
    
}
.hero h1 {
    font-family: "Sacramento", cursive;
    font-size: 6rem;
}

.hero h1, .hero h4, .hero p {
    text-shadow: var(--shadow);
}

.hero p {
    font-size: 1.4rem;
}

.hero a {
    background-color: white;
    color: var(--pink);
}

.hero a:hover {
    background-color: var(--pink);
    color: white;
}
.mynavbar {
    background-color: rgba(255, 255, 255, 0.4) !important;
    backdrop-filter: blur(4px);
}

.sticky-top {
    overflow: hidden;
}

.mynavbar .offcanvas {
    height: 80vh;
}
.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
    font-family: "Sacramento", cursive;
    font-size: 3.2rem;
    font-weight: bold;
}

.mynavbar .nav-link {
    text-transform: uppercase;
}

.home {
    background-image: url(img/floral.png);
    background-size: cover;
    min-height: 100vh;
    margin-top: -6rem;
    padding-top: 16rem;
    padding-bottom: 8rem;
}



.home h2, .gallery h2 {
    color: var(--pink);
    font-family: 'Sacramento';
    font-size: 5rem;
    font-weight: bold;
}

.home h3 {
    color: #444;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

.home p {
    font-size: 1.5rem;
    color: 666;
}

.gallery p {
    font-size: 1.1rem;
    color: 666;
}
.home .couple{
    margin-top: 10rem;

}
.home .couple img{
    margin-top: 5rem;

}
.home .couple h3 {
    font-family: 'Sacramento';
    font-size: 4rem;
    color: var(--pink);
    margin-top: 5rem;
}

.home .couple img {
    width: 100%;
}

.home .heart {
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(150px);
    
}

.home .heart i {
    margin: auto;
    color: var(--pink);
} 

.info{
    background-color: #f5f5f5;
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.info h2 {
    font-family: 'Sacramento';
    color: var(--pink);
    font-size: 5rem;
    font-weight: bold;
}

.gifts h2 {
    font-family: 'Sacramento';
    color: var(--pink);
    font-size: 5rem;
    font-weight: bold;
}
.info .alamat {
    font-size: 1.5rem;
    padding: 2.5rem;
}

.info .description {
    font-size: 1.5rem;
    /* font-weight: 300; */
}

.info .card {
    padding: 1.5 ;
    margin: 1.5rem;
    /* text-transform: uppercase; */
    font-size: 1.5rem;

}

/* .info .card .header {
    background-color: #0a0a0a;
    text-transform: uppercase !important;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    font-weight: bold;
} */

.info .card .body {
    font-size: 5rem;
}

.gallery {
    background-image: url(img/floral.png);
    /* filter:sepia(); */
    background-size: cover;
    background-color: #f5f5f5;
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.gifts {
    background-color: #f5f5f5;
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.gifts p {
    font-size: 1.5rem;
    /* font-weight: 300; */
    
}

.gifts .list-group{
    font-size: 1.5rem;
}

#reactions__container {
    display: none !important;

}
  

footer {
    padding: 3rem;
    background-color: var(--pink);
    color: white;
}

footer a {
    color: var(--bg);
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: white;
}
 
footer li {
    list-style: none;
    display: inline;
}

.audio-icon-wrapper {
    /* color: #0a0a0a; */
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    position: fixed;
    bottom: 2.5rem;
    right: 2rem;
    cursor: pointer;
    opacity: 0.5;
    /* mix-blend-mode: difference; */
    animation: rotating  4s linear infinite;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;

}

@keyframes rotating {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .fade-in.visible {
    opacity: 1;
  }

/* extra large */

@media (max-width: 1200px) {
    .home .heart {
        transform: translateX(-50%) translateY(45px);
    }
}
/* media wuery laptop */

@media (max-width: 992px) {
    html {
        font-size: 74%;
    }
    .simply-countdown>.simply-section {
        padding: 45px;
    }
    .home .heart{
        display: none;
    }
}
/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    .simply-countdown>.simply-section {
        padding: 40px;
    }

    .mynavbar .nav-link {
        font-size: 2rem;
        text-align: center;
    }
}

/* hp  */
@media (max-width: 400px) {
    html {
        font-size: 60%;
    }

    .simply-countdown>.simply-section {
        padding: 35px;
        margin: 3px;
    }


}